@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  /* Theme colors */
  --theme-primary: #000;
  --theme-secondary: #73cfa8;
  --theme-tertiary: #fb9289;
  --theme-quaternary: #fde179;
  --theme-quinary: #73b1ff;
  --theme-senary: #F4FDFF;
  --theme-body: #fff;
  --theme-border: #DBDBDB;
  --theme-light: #f3f0f0;
  --theme-dark: #000000;
  
  /* Text colors */
  --text-default: #555555;
  --text-dark: #222;
  --text-light: #fffefe;

}

@theme inline {
  /* Font configuration */
  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  
  /* Theme color utilities for Tailwind */
  --color-primary: var(--theme-primary);
  --color-secondary: var(--theme-secondary);
  --color-tertiary: var(--theme-tertiary);
  --color-quaternary: var(--theme-quaternary);
  --color-quinary: var(--theme-quinary);
  --color-senary: var(--theme-senary);
  --color-body: var(--theme-body);
  --color-border: var(--theme-border);
  --color-light: var(--theme-light);
  --color-dark: var(--theme-dark);
  /* Text color utilities for Tailwind */
  --color-default: var(--text-default);
  --color-dark: var(--text-dark);
  --color-light: var(--text-light);

}
